// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{margin:0;padding:0;box-sizing:border-box;font-family:arial black;}

.success{color:green;font-size:small;}

table{font-size:small;}

.main{padding-top:20px;padding-left:20px;}

.show{padding-left:40px;}