// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{margin:0;paddig:0;box-sizing:border-box;}

p{padding-top:40px;padding-left:40px;}

